/* Documento CSS */

*{
	margin:0;
	padding:0;
}

body{
	padding-top:20px;
	padding-left:50px;
	background-color:#f0ffff;
}

ul li{
	list-style-type:none;
	display:inline;
	padding-left:15px;
	padding-right:15px;
	font-family:"Trebuchet MS";
	font-size:16px;
	background-color:#8470ff;
	color:#fff0f5;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

ul li a{
	font-family:"Trebuchet MS";
	font-size:16px;
	color:#fff0f5;
	text-decoration:none;
}